<article>
    <form action="/auth/pass-recovery-by-mail" method="post">
        <header>
            <h1>Recuperar contraseña</h1>
        </header>
        <input type="email" name="email" placeholder="ejempo@mail.com" required />
        <footer>
            <input type="submit" value="Enviar">
        </footer>
    </form>
</article>