<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 20px;
        }
        .flex-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
    <title>Tu Perfil</title>
</head>
<body>

<div class="flex-container">
    <a href="/api/session/logout" class="btn btn-danger mr-2">Salir</a>
    <a href="/chat" class="btn btn-primary">Chat</a>
</div>

<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <br>
    <h5>Nombre</h5>
    <p>{{user.name}}</p>
    <h5>Email</h5>
    <p>{{user.email}}</p>
    <h5>Edad</h5>
    <p>{{user.age}}</p>
    {{#if user.githubProfile}}
    <p>Github data:</p>
    <div class="json-box">
        <pre>{{user.githubProfile}}</pre>
    </div>
    {{/if}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
