<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Listado de Productos en Tiempo Real</h1>
    <ul id="realTimeProductList">
        {{#each productos}}
            <li>{{this.name}} - Precio: {{this.price}}</li>
        {{/each}}
    </ul>

    <form id="addProductForm">
        <input type="text" id="productName" placeholder="Nombre del producto">
        <input type="number" id="productPrice" placeholder="Precio del producto">
        <button type="submit">Agregar Producto</button>
    </form>

    <form id="removeProductForm">
        <input type="text" id="productId" placeholder="ID del producto a eliminar">
        <button type="submit">Eliminar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (productos) => {
            const realTimeProductList = document.getElementById('realTimeProductList');
            realTimeProductList.innerHTML = '';
            productos.forEach(producto => {
                const li = document.createElement('li');
                li.textContent = `${producto.name} - Precio: ${producto.price}`;
                realTimeProductList.appendChild(li);
            });
        });

        const addProductForm = document.getElementById('addProductForm');
        addProductForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const productName = document.getElementById('productName').value;
            const productPrice = document.getElementById('productPrice').value;
            socket.emit('addProduct', { name: productName, price: productPrice });
            addProductForm.reset();
        });

        const removeProductForm = document.getElementById('removeProductForm');
        removeProductForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const productId = document.getElementById('productId').value;
            socket.emit('removeProduct', productId);
            removeProductForm.reset();
        });
    </script>
</body>
</html>