<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-yVbT0UKK3FXWxFhXgcfy2NzCGti2VME1fjTcr5eVy0sRVRLMZUn4U1rwE5HAAw1r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyQq5STw29n4p1C3G5STScUoH3p5G" crossorigin="anonymous">
    <title>Login</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .recovery-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 8px;
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 100%;
            margin-top: 15px;
        }

        .form-container {
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 10px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 15px;
        }

        .forgot {
            margin-top: 5px;
        }

        .sign {
            border-radius: 5px;
            cursor: pointer;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }

        .social-message {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }

        .line {
            flex-grow: 1;
            height: 1px;
            background-color: #ccc;
        }

        .message {
            margin: 0 15px;
            color: #888;
        }

        .custom-icon {
            border-radius: 5px;
            cursor: pointer;
        }

        .signup {
            margin-top: 20px;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="recovery-container">
        <h1>Iniciar sesión</h1>
        <form id="recoveryForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su email"
                    required="email">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Ingrese su contraseña" required="">
            </div>
            <br>
            <p class="recovery-password">¿Olvidaste tu contraseña? <a href="/recovery-password">Recuperar contraseña</a></p>
        </form>
        <button class="btn btn-primary sign">Ingresar</button>
        <p class="error-message" id="errorMessage"></p>
        </form>
        <div class="social-message">
            <div class="line"></div>
            <p class="message">Ingresa con:</p>
            <div class="line"></div>
        </div>
        <a href="/api/sessions/github" class="btn btn-dark custom-icon" aria-label="Log in with GitHub">
            Github
            <i class="fab fa-github"></i>
        </a>
        <p class="signup">¿Aún no estás registrado?
            <a href="/register" class="">Registrarse</a>
        </p>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-fz4eBL3pkeVo1fEU5zleFWYHPfWnt4Y3EszX37YefWZGpfe+/qDkWqZ2Fmi2srY"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyQq5STw29n4p1C3G5STScUoH3p5G" crossorigin="anonymous"></script>
</body>

</html>