<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .recovery-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 8px;
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 100%;
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div class="recovery-container">
        <h1>Recuperar contraseña</h1>
        <form id="recoveryForm">
            <div class="form-group">
                <label for="email">Email registrado</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese email registrado"
                    required="email">
            </div>
            <div class="form-group">
                <label for="password">Contraseña nueva</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Ingrese contraseña nueva" required="">
            </div>
            <p class="iniciar-sesion">¿No quieres cambiar tu contraseña? <a href="/login">Iniciar Sesión</a></p>
            <p class="iniciar-sesion">¿Quieres registrarte? <a href="/register">Registraerse</a></p>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>